ExampleProjects/Arduino/ReadIS/src/
cmake-build-*/
build/
obj/
x64
Release/
Debug/
IS_logs/
CMakeFiles/

*.autosave
*.elf
*.gch
*.hex
*.map
*.obj
*.pyc
*.pyd
*.so
*.o
*.user
.vs
.vscode

.idea
cmake-build-debug
Makefile
CMakeCache.txt
cmake_install.cmake
libInertialSenseSDK.a


