# Ignore files
*.autosave
*.elf
*.gch
*.hex
*.map
*.obj
*.pyc
*.pyd
*.so
*.o
*.user
*.ninja
.vs
.vscode
.venv
.idea

/CMakeCache.txt
/Makefile
/cmake_install.cmake
/libInertialSenseSDK.a

# Ignore all directories anywhere in the repo
cmake-build-*/
.cmake/
build/
build-*/
obj/
x64
Release/
Debug/
IS_logs/
CMakeFiles/

# Ignore directories at the root
/ExampleProjects/Arduino/ReadIS/src
/ExampleProjects/LogReader_RegCmp/Log
/python/venv
/python/logInspector/.eggs
/python/.eggs
/python/dist
/python/inertialsense.egg-info
/ros/install
/ros/log
/ros/ros2/install
/ros/ros2/log
/scripts/.venv
/src/version
ExampleProjects/IS_SPI_Dev_Example/IS_SPI_Dev_Example_local

