ExampleProjects/Arduino/ReadIS/src/
EVB-2/IS_EVB-2.elf
EVB-2/Debug/
EVB-2/Release/
build/
obj/
x64
Release/
Debug/
IS_logs/

*.autosave
*.elf
*.gch
*.hex
*.map
*.obj
*.pyc
*.pyd
*.so
*.o
*.user
.vs
.vscode
